
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(45deg, rgb(27, 34, 38), rgba(0, 0, 0, 0.914), rgb(27, 34, 38));
  height: 60vh;
  width: 100%;
  color: whitesmoke;
  overflow: hidden;
  line-height: 1.5;
white-space: wrap;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.hero-subheading {
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.hero-heading {
  font-size: 2rem;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(5, 142, 254);
}

.hero-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(2, 101, 241);
  border: oldlace 1px solid;
  border-radius: 4px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
 max-width: 50%;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

}

.hero-button:hover {
  background-color: #fff;
  color: #000;
  box-shadow:none;
}


.dowload-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(2, 101, 241);
  border: oldlace 1px solid;
  border-radius: 4px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  max-width: 50%;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.dowload-button:hover {
  background-color: #fff;
  color: #000;
  box-shadow:none;
}

.dowload-button:focus {
  outline: none;
}


.hero-button:focus {
  outline: none;
}


.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: whitesmoke;
}

.exchange-rate-form-section {
  display: flex;
  justify-content: space-between;
  padding: 50px 20px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
}
h2 {
  font-size: 2rem;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  color: rgb(2, 101, 241);
}


.exchange-rate-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.exchange-rate-image {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
 margin: 0 20px;
  object-fit: cover;
  object-position: center;
  object-position:start;
margin-bottom: 40px;
max-width: 100%;
height: 750px;
overflow: hidden;
}

.exchange-rate-right {
  flex: 1;
  padding: 20px;
  background: rgb(27, 34, 38); 
  border-radius: 10px;
  color: whitesmoke;
  
}
.exchange-rate-form .form-group {
  margin-bottom: 10px;
  margin: auto;
  padding: 10px;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.exchange-rate-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 19px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  white-space: nowrap;
}

.exchange-rate-form input,
.exchange-rate-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.781);
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.927);
  backdrop-filter: blur(5px);
  color: rgb(2, 101, 241);
  text-align: center;
  border-radius: 10px;
}


.info-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
}

.info-box {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.601);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-align: center;
}

.info-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.info-box h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: rgb(2, 101, 241);
}

.info-box h3 svg {
  margin-right: 10px;
  font-size: 1.5rem;
  color: rgb(2, 101, 241)f; 
}

.info-box p {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.6;
}




.countries-section {
  padding: 50px 20px;
  text-align: center;

}

.countries-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.country-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 30%;
  padding: 20px;
  text-align: center;
  background: rgb(27, 34, 38);
  color: whitesmoke;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}


.country-box img {
  width: 30%;
  height: auto;
  border-radius: 8px;
}




.country-box:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #060606;
}

.see-all-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(0, 98, 255);
  border: none;
  max-width: 500px;
  border-radius: 4px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.439);
  font-size: large;
}

.see-all-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #090909;
}

/* Responsive Design */

@media (max-width: 1200px) {
  .home {
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
  
  }


.hero-button {
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px 20px;
  background-color: rgb(2, 101, 241);
  border: oldlace 1px solid;
  border-radius: 4px;
  cursor: pointer;
  backdrop-filter: blur(10px);
  color: #fff;
  box-shadow: 0 14px 20px rgba(35, 51, 101, 0.367);
  font-size: 1.2rem;
  font-weight: bold;

  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.hero-button:hover {
  background-color: #fff;
  color: #000;
  box-shadow:none;
}

.hero-button:focus {
  outline: none;
}

  .hero {
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
 
  }

  .exchange-rate-form-section {
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: block;
  
  }

  .hero-heading {
    font-size: 1.9rem;
  }
  .hero-subheading  {
    font-size: 1.5rem;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .info-box {
    padding: 10px;
  }

  .info-section {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
  }
.dowload-button {
  visibility: hidden;

}
  .countries-grid {
    flex-direction: column;
  }

  .country-box {
    flex: 1 0 40%;
  }
  h1{
    font-size: 1.5rem;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: 20px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  

 
}
