
.form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, rgb(27, 34, 38), rgba(0, 0, 0, 0.914), rgb(27, 34, 38));
  background-size: cover;
}
  

.form-container {
  background-color: rgb(27, 34, 38);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 252, 252, 0.071);
  max-width: 900px;
  width: 100%;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #fdfcfc;
}

.form-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-grup,
.form-div {
  width: 100%;
  text-align: left;
}

label {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #0533ff;
  outline: none;
}

.btn {
  background: rgb(0, 98, 255);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.btn:hover {
  background-color: #fcfffc;
  color: #000;
}

.signup-link {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #444;
}

.signup-link a {
  color: rgb(0, 98, 255);
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .form-container {
    padding: 30px;
    width: 90%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  .form-container {
    padding: 20px;
  }

  button {
    padding: 10px 15px;
  }
}

